
body {
     background-image: url('pexels-george-dolgikh-551816-1303098.jpg'); 
     background-size: cover; 
 
     background-attachment: fixed; 
     color: white; 
     height: 700px;
     
 }
 
 
 .card {
    width: 600px;
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    position: relative;
    overflow: hidden;
    height: 560px;
}
h1 {
    color: #b22222;
    font-size: 3em;
    
    
    text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.7);
    margin-bottom: 20px;
    animation: fadeIn 2s ease-out
    
}

.card-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    animation: fadeInContent 2s ease-out;
}

.card-text {
    flex: 1;
    font-size: 1.2em;
    color: #47663B;
    margin: 20px;
    animation: fadeInText 3s ease-out;
}

.card-image {
    flex: 0 0 250px;
    margin-left: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    animation: rotateImage 10s infinite linear;
}

.card-image img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    animation: rotateImage 10s infinite linear;
}

.boton {
    background-color: #4CAF50;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border: none;
    border-radius: 12px;
    transition: background-color 0.3s;
}


.boton:hover {
    background-color: #092e0b;
}


.boton-link {
    text-decoration: none;
}

